html{
    width: 100%;
    height: 100%;
    background-color: gray;
}
.formsubmit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}
.firstpage{
    margin: 20px;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    font-family: sans-serif;
    font-size: medium;
    border: none;
    outline: none;
    background-color: rgb(255, 115, 0);
}

.container{
    position: relative;   
}
    
.firstpagebutton[type="submit"]{
    border-radius: 10px;
    border: none;
    background-color: tomato;
    color: white;
    width: 20%;
    height: 50px;
    font-size: large;
}
.firstpagebutton:hover{
    cursor: pointer;
    background-color: rgb(255, 38, 0);
}
a{
    background-color: #0074D9;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 80%;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    text-align: center;
    font-weight: 600;
}
.firstpage::placeholder{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.searchbar{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.searchinput{
    width: 500px;
    height: 40px;
    border-radius: 25px 0 0 25px;
    border: none;
    outline: none;
    padding-left: 20px;
}
.searchbutton{
    width: 100px;
    height: 42px;
    border: none;
    outline: none;
    border-radius: 0 25px 25px 0;
    font-weight: 500;
    font-size: large;
    background-color: rgb(255, 136, 0);
    color: white;
}
.searchbutton:hover{
    background-color: rgb(255, 102, 0);
    cursor: pointer;
}